body{
    background-color:hsl(45, 90%, 57%);
 
}

.header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: 	rgb(22, 21, 21);
    margin: 40px;
}

.quote{
    margin:50px;
    color:black;
    text-align: center;
    border: black solid 2px;
    padding: 150px;
   
}
    
#id{
    background-image: url("/lordshiva.jpg");
}

.navbar-brand{
    margin-left:10px;
}
#navbarNav{
    margin-left:680px;
}
.all{
    border: rgb(158, 161, 165) solid 10px;
}

.new{
    margin: 30px;
    margin-bottom: 80px;

}
#services img{
	width:100%;
    
}
#services .circle{
width:240px;
height: 140px;
display:inline-block;
background: transparent;
overflow:hidden;

}
#services .circle:hover {
	background:orange;	
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
   
}
.scriptures{
    border: black 3px solid;
}
.hr{
    border: 1px solid rgb(158, 161, 165);
}

#abc{
    /*border: black 2px solid;*/
    padding: 20px;
}
#def{
    /*border: black 2px solid;*/
    padding: 20px;
}

#ghi{
   /*border: black 2px solid;*/
    padding: 20px;
}

#jkl{
   /*border: black 2px solid;*/
    padding: 20px;
}
.about{
    text-align: center;
    margin: 10px;
}
.header1 img {
    float: left;
    width: 65px;
    height: 60px;
    background: #555;
  }
  
  .header1 h1 {
    position: relative;
    top: 8px;
   
  }
.para1{
    margin-top: 30px;
    text-align: center;
}
.para2{
    margin-top: 30px;
    text-align: center;
}
.para3{
    margin-top: 0px;
    text-align: center;
}


/*.para21 .l3{
    margin-left: 11px;
}
.para21 .l4{
    margin-left: 35px;
}

.para3{
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}*/

.para4{
    margin-top: 30px;
    text-align: center;
}
/*.para4 .l5{
    margin-left: 49px;
    text-align: center;
}
.para4 .l6{
    margin-left: 63px;
    text-align: center;
    margin-bottom: 10px;
}*/
.para5{
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
}
.para5 .l1{
    margin-left:0px;
}
.para5 .l2{
    margin-left:0px;
}
.para5 .l3{
    margin-left:12px;
}
.para5 .l4{
    margin-left:38px;
}

.para6{
    margin-top: 10px;
    margin-left: 22px;
    text-align: center;
}
.para7 .l5{
    margin-left:42px;
    text-align: center;
}
.para7 .l6{
    margin-left:67px;
    text-align: center;
}

.para8{
    margin-top: 10px;
    margin-left: 22px;
    text-align: center;
}

.para9 .l7{
    margin-left: 31px;
    text-align: center;
}
.para9 .l8{
    margin-left: 29px;
    text-align: center;
    margin-bottom: 20px;
}
.state{
    margin-left:10px;
}
.sname li a{
    color:black;
}
.sname a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      
}
