body{
    background-color:hsl(45, 90%, 57%);
    min-height: 100vh;
 
}

.header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: 	rgb(22, 21, 21);
    margin: 40px;
}
.blk{
    margin-left: 20px;
    margin-bottom: 100px;
}
.blk a{
color:black;
}
.blk a:hover{
    color:rgb(42, 148, 180);
    transition: color .4s ease;
    text-decoration: none;
    }
 .fa{
        margin-right: 5px;
    }

/*footer {
    clear: both;
    position: relative;
    height: 150px;
    margin-top: -150px;
}*/
footer{ 
    position: sticky;
    top:100%;
}
footer{
    background:#343a40;
    height:auto;
    width: 100vw;
    padding-top: 10px;
    color:#fff;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.soc{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-top: 50px;

}

.soc li{
   margin: 2px 16px; 
}
.soc a{
    text-decoration: none;
    color: #fff;
}
.soc a i{
    font-size: 1.7rem;
    transition: color .4s ease;
}
.soc a:hover i{
    color:aqua;

}
.footbottom{
    background:#343a40;
    width: 100vw;
    padding:10px 0;
    text-align: center;
    margin-left: 20px;
}
.footbottom p{
    font-size: 14px;
    word-spacing: 2px;
    
}
.footbottom span{
    color:whitesmoke;
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    margin-left: 2px;
}
.quote{
    margin:50px;
    color:black;
    text-align: center;
    border: black solid 2px;
    padding: 150px;
   
}
    
#id{
    background-image: url("/lordshiva.jpg");
}
#id1{
    margin-left: 20px;
}
#id2{
    margin-left: 20px;
}
.navbar-brand{
    margin-left:10px;
}
#navbarNav{
    margin-left:680px;
}
.all{
    border: rgb(158, 161, 165) solid 10px;
}

.new{
    margin: 30px;
    margin-bottom: 80px;

}
#services img{
	width:100%;
    
}
#services .circle{
width:240px;
height: 140px;
display:inline-block;
background: transparent;
overflow:hidden;

}
#services .circle:hover {
	background:orange;	
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
   
}

.scriptures{
    border: black 3px solid;
}
.hr{
    border: 1px solid rgb(158, 161, 165);
}

#abc{
    /*border: black 2px solid;*/
    padding: 20px;
    
}
#def{
    /*border: black 2px solid;*/
    padding: 20px;
}

#ghi{
   /*border: black 2px solid;*/
    padding: 20px;
}

#jkl{
   /*border: black 2px solid;*/
    padding: 20px;
}
.about{
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}
.header1 img {
    float: left;
    width: 65px;
    height: 60px;
    background: #555;
  }
  
  .header1 h1 {
    position: relative;
    top: 8px;
   
  }
.para1{
    margin-top: 30px;
    text-align: center;
}
.para2{
    margin-top: 30px;
    text-align: center;
}
.para3{
    margin-top: 0px;
    text-align: center;
}


/*.para21 .l3{
    margin-left: 11px;
}
.para21 .l4{
    margin-left: 35px;
}

.para3{
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}*/

.para4{
    margin-top: 30px;
    text-align: center;
}
/*.para4 .l5{
    margin-left: 49px;
    text-align: center;
}
.para4 .l6{
    margin-left: 63px;
    text-align: center;
    margin-bottom: 10px;
}*/
.para5{
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
}
.para5 .l1{
    margin-left:0px;
}
.para5 .l2{
    margin-left:0px;
}
.para5 .l3{
    margin-left:12px;
}
.para5 .l4{
    margin-left:38px;
}

.para6{
    margin-top: 10px;
    margin-left: 22px;
    text-align: center;
}
.para7 .l5{
    margin-left:42px;
    text-align: center;
}
.para7 .l6{
    margin-left:67px;
    text-align: center;
}

.para8{
    margin-top: 10px;
    margin-left: 22px;
    text-align: center;
}

.para9 .l7{
    margin-left: 31px;
    text-align: center;
}
.para9 .l8{
    margin-left: 29px;
    text-align: center;
    margin-bottom: 20px;
}
.state{
    margin-left:10px;
}
.sname li a{
    color:black;
}
.sname a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      
}
.odishapara1{
    margin-left: 15px;
}
.odishatemples1{
    margin-left: 15px;
}
.fig1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}

.about1{
    margin-left: 530px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cat1{
    margin-left: 10px;
}
.cat1 a{
    color:black;
}
.cat1 a:hover{
    color:red;
}
#card1{
    margin-left:140px;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
}
.container1{
    max-width: 1200px;
    margin:auto;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid black;
    float:left;
    width: 390px;
}
.gallery img{
    width: 388px;
    height:291px;
}
.desc{
    padding: 15px;
    text-align: center;
}
#gallery1{
    margin-bottom: 30px;
}
#abc1{
    margin-top: 400px;
}
#abc11{
    margin-top: 400px;
}
.spc{
    margin-left: 10px;
}